
body {
    background-color: #FBF7F0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    padding: 30px;
}

footer img {
    max-width: 20px;
}

header {
    background-image: url("../img/sakura2.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
}

header a {
    color: #05060E;
    text-decoration: none;
}

header h1 {
    color: #05060E;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
}

header p {
    color: #05060E;
    font-size: 16px;
    padding: 0 30px;
}

main {
    padding: 20px;
}

nav img {
    min-width: 40px;
    padding: 5px;
}

.arcoiris {
    background: linear-gradient(to right, #FD4B66, #FA3082, #FFB79A, #47FCF6, #00C2CB, #C4637A, #B14AED);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.btn.btn-primary {
    background-image: url("../img/texturaBrillante1.jpg");
    margin: 50px 5px 0;
    font-size: 20px;
}

.btn.btn-primary:hover {
    border: 2px solid #5B2A86;
}

.carousel-caption.d-none.d-md-block {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    padding: 15px;
}

.carousel-caption.d-none.d-md-block p {
    font-size: 20px;
}

.habilidades {
    min-width: 280px;
    background-color: #FF5A5F;
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
}

.habilidades:hover {
    border: 2px solid #12163A;
}

.left {
    max-width: 320px;
}

.presentation {
    background-color: rgba(167, 224, 219, 0.5);
    border-radius: 16px;
    max-width: 1050px;
    min-width: 800px;
    width: 100%;
    display: flex;
    padding: 20px;
    margin: 20px;
}

.presentation:hover {
    border: 2px solid #12163A;
}

.presentation img {
    width: 50%;
    max-height: 180px;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    margin: 0 20px 0 0;
}

.right {
    padding: 30px;
}

#carouselExampleDark {
    max-width: 100%;
}

#contacto {
    text-align: center;
}

#img_presentacion {
    background-color: white;
}

#principal {
    display: flex;
}