
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #FF6B6B;
    height: 100px;
}

header a {
    text-decoration: none;
}

header h1 {
    color: #05060E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header img {
    max-width: 20px;
}

.about_me {
    max-width: 360px;
}

.bloque {
    background-color: #C9B79C;
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
}

.contacto {
    text-align: center;
}

.presentation {
    background-color: rgba(167, 224, 219, 0.5);
    border-radius: 16px;
    max-width: 1800px;
    display: flex;
    padding: 20px;
    margin: 16px;
}

.presentation img {
    max-width: 120px;
    margin: 0 20px 0 0;
}

.right {
    padding: 30px;
}

#carouselExampleDark {
    max-width: 100%;
}

#img_presentacion {
    background-color: white;
}

#main {
    display: flex;
}