
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #FF6B6B;
    height: 100px;
}

header a {
    text-decoration: none;
}

header h1 {
    color: #05060E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bloque {
    background-color: #C9B79C;
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
}

.contacto {
    text-align: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-snap-type: x mandatory;
    scroll-padding: 15px;
}

.project {
    min-width: 250px;
    background-color: #FF6B6B;
    border-radius: 10px;
    box-shadow: 0 0 16px #05060E;
    scroll-snap-align: start;
    padding: 15px;
}

.project img {
    max-width: 360px;
}

.presentation {
    max-width: 1800px;
    display: flex;
    margin: 16px;
}

.presentation img {
    max-width: 360px;
}

#img_presentacion {
    background-color: white;
}